C:\Users\augus\OneDrive\IFTM\Maratonas\Treinos_Jean\Competitive Programming 4 - Book 1 (Steven Halim, Felix Halim, Suhendry Effendy) (Z-Library).pdf
C:\Users\augus\OneDrive\IFTM\Maratonas\Treinos_Jean\teste.cpp